body{
  padding: 0;
  margin: 0;
  color: black;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.55em;

}
.Smisl{
    height: 50px;
    width: 50px;
}

*{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    
    padding: 0;
    margin: 0;
    line-height: 1.4em;
}

.p{
    margin: 0;
}

.container{
   /* border: 1px solid red;*/
    width: 1100px;
    margin: 0 auto;
    
}

.header{
    padding-top: 72px;
}

.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 78px;
}

.place{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.offer{
    margin-bottom: 98px;
}

.offer-title{
    font-size: 45px;
    
    font-weight: 400;
}

.description{
    font-size: 18px;
    margin-bottom: 21px;
}


.btn{
    color: #fff;
    background: rgb(0, 0, 0);
    font-size: 18px;
    padding-top: 18px;
    padding-left: 30px;
    padding-bottom: 18px;
    padding-right: 30px;
    font-weight: 700;
    display: block;
    width: 215px;
    text-align: center;
    
}

.btn:hover{
    background: rgb(20, 20, 20);
}

.btn:active{
    background: rgb(5, 5, 5);
}

.intro{
    background: rgb(255, 247, 232);
    width: 441px;
    padding: 30px;
    
}

.intro-title{
    font-weight: 700;
}

.intro-wrapper{
    padding-bottom: 60px;
}

.header-content{
    display: flex;
    justify-content: space-between;
}

.podval{
    color: wheat;
    width: 100%;
    height: 72px;
    background:rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding-top: 25px;

}

footer a{
    color: white;
    padding-right: 10px;
}

.gladik{
    
    width: 600px;
}